body {
    background: rgb(27,27,56);
    background: linear-gradient(55deg, rgba(27,27,56,1) 0%, rgba(61,24,78,1) 91%);
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    padding: 0px auto
}

.tituloh1{
    font-size:5rem ;
}
.containerApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}